.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-box{
    height: 250px;
    width: 250px;
    margin-bottom: 15px;
    background-color: blue;
}
.button{
    background-color: gray;
    padding: 10px;
}
.button1{
    margin-right: 10px;
}
.button-container{
    display: flex;

}